# Recommenders / Collaborative filtering
*Kája Trachtová, Michaela Kecskésová, Martin Špilar, Dagmar Al Tukmachi*

+ goal of this assignment was to train a recommender system
+ input data is a table with `N` rows and `M` collumns where `N` is the number of the people evaluating tweets and `M` is the number of the tweets in the dataset
+ the score scale goes from 1 (worst) to 7 (best), `NA` is used for the missing values (if the person did not evaluated the tweet)
+ the output should be the table of the same size where `NAs` are replaced by the estimates of the score

## Load libraries

In [2]:
library(keras)
library(tidyverse)
library(glue)
library(data.table)

## Read and transform input data

In [3]:
table <- read_csv("/kaggle/input/tweet-ratings/fake_v1_100x252.csv")

Warning message:
“Missing column names filled in: 'X1' [1]”

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  X1 = col_character()
)
ℹ Use `spec()` for the full column specifications.

+ transform the table from wide to long format so that both users and tweets are separate columns

In [4]:
setDT(table)
table_long <- melt(table, id = 1, measure=patterns("^tweet"), value.name = c("rating"), 
     variable.name = "tweet")
head(table_long)

  X1    tweet  rating
1 user1 tweet1  4
2 user2 tweet1 NA
3 user3 tweet1 NA
4 user4 tweet1  4
5 user5 tweet1 NA
6 user6 tweet1 NA

+ recode strings with users and tweets to integers

In [5]:
table_long <- table_long %>%
    mutate(user_id = as.numeric(factor(table_long$X1)), tweet_id = as.numeric(factor(table_long$tweet))) %>%
    mutate(user_id = user_id - 1, tweet_id = tweet_id - 1)

head(table_long)

  X1    tweet  rating user_id tweet_id
1 user1 tweet1  4      0      0
2 user2 tweet1 NA     12      0
3 user3 tweet1 NA     23      0
4 user4 tweet1  4     34      0
5 user5 tweet1 NA     45      0
6 user6 tweet1 NA     56      0

+ remove NA values

In [7]:
table_final <- na.omit(table_long)
head(table_final)

  X1     tweet  rating user_id tweet_id
1 user1  tweet1 4       0      0
2 user4  tweet1 4      34      0
3 user18 tweet1 3      10      0
4 user22 tweet1 4      15      0
5 user30 tweet1 5      24      0
6 user43 tweet1 5      38      0

In [8]:
n_tweets <- n_distinct(table_final$tweet)
n_users <- n_distinct(table_final$X1)

glue("This dataset includes {nrow(table_final)} ratings by {n_users} users on {n_tweets} unique tweets")

This dataset includes 5000 ratings by 100 users on 252 unique tweets

## Basic model

In [9]:
set.seed(123)

x_train <- table_final %>% select(c(user_id, tweet_id)) %>% as.matrix()
y_train <- table_final %>% pull(rating)

head(x_train)
head(y_train)

     user_id tweet_id
[1,]  0      0
[2,] 34      0
[3,] 10      0
[4,] 15      0
[5,] 24      0
[6,] 38      0

[1] 4 4 3 4 5 5

In [10]:
embedding_dim <- 32

# input layers
input_users <- layer_input(shape = 1, name = "users")
input_tweets <- layer_input(shape = 1, name = "tweets")

user_embeddings <- input_users %>% 
  layer_embedding(
    input_dim = n_users,
    output_dim = embedding_dim,
    name = "user_embeddings"
  ) 

tweet_embeddings <- input_tweets %>% 
  layer_embedding(
    input_dim = n_tweets,
    output_dim = embedding_dim,
    name = "tweet_embeddings"
  )

In [235]:
simple_dot <- function(embedding_dim,
                       n_users,
                       n_tweets,
                       name = "simple_dot") {
  
  keras_model_custom(name = name, function(self) {
    self$user_embedding <-
      layer_embedding(
        input_dim = n_users + 1,
        output_dim = embedding_dim,
        embeddings_initializer = initializer_random_uniform(minval = 0, maxval = 0.05),
        name = "user_embedding"
      )
    self$tweet_embedding <-
      layer_embedding(
        input_dim = n_tweets + 1,
        output_dim = embedding_dim,
        embeddings_initializer = initializer_random_uniform(minval = 0, maxval = 0.05),
        name = "tweet_embedding"
      )
    self$dot <-
      layer_lambda(
        f = function(x) {
          k_batch_dot(x[[1]], x[[2]], axes = 2)
        }
      )
    
    function(x, mask = NULL) {
      users <- x[, 1]
      tweets <- x[, 2]
      user_embedding <- self$user_embedding(users)
      tweet_embedding <- self$tweet_embedding(tweets)
      self$dot(list(user_embedding, tweet_embedding))
    }
  })
}

In [11]:
dot <- layer_dot(
  inputs = list(user_embeddings, tweet_embeddings),
  axes = 2,
  name = "dot_product"
  )

pred <- dot %>% layer_dense(
  units = 1, 
  activation = "relu",
  name = "rating_prediction"
  )

In [12]:
# define model inputs/outputs
model <- keras_model(inputs = c(input_users, input_tweets), outputs = pred)

model %>% compile(
  optimizer = "rmsprop",
  loss = "mse",
  metric = "mae"
)

# inspect model
summary(model)

Model: "functional_1"
________________________________________________________________________________
Layer (type)              Output Shape      Param #  Connected to
================================================================================
users (InputLayer)        [(None, 1)]       0
________________________________________________________________________________
tweets (InputLayer)       [(None, 1)]       0
________________________________________________________________________________
user_embeddings (Embeddin (None, 1, 32)     3200     users[0][0]
________________________________________________________________________________
tweet_embeddings (Embeddi (None, 1, 32)     8064     tweets[0][0]
________________________________________________________________________________
dot_product (Dot)         (None, 1, 1)      0        user_embeddings[0][0]
                                                     tweet_embeddings[0][0]
________________________________________________________________________________
rating_prediction (Dense) (None, 1, 1)      2        dot_product[0][0]
================================================================================
Total params: 11,266
Trainable params: 11,266
Non-trainable params: 0
________________________________________________________________________________

In [13]:
# train the model
history <- model %>% fit(
  x = list(
    x_train[, "user_id", drop = FALSE],
    x_train[, "tweet_id", drop = FALSE]
  ),
  y = y_train,
  epochs = 30,
  batch_size = 16, 
  validation_split = 0.2,
  callbacks = list(callback_early_stopping(patience = 2))
)

In [14]:
best_epoch <- which(history$metrics$val_loss == min(history$metrics$val_loss))
loss <- history$metrics$val_loss[best_epoch] %>% round(3)
mae <- history$metrics$val_mae[best_epoch] %>% round(3)

glue("The best epoch had a loss of {loss} and mean absolute error of {mae}")

The best epoch had a loss of 5.511 and mean absolute error of 2.255

## Model with bias

In [15]:
# input layers
input_users <- layer_input(shape = 1, name = "users")
input_tweets <- layer_input(shape = 1, name = "tweets")

user_embeddings <- input_users %>%
  layer_embedding(
    input_dim = n_users,
    output_dim = embedding_dim,
    name = "user_embeddings"
  )

tweet_embeddings <- input_tweets %>%
  layer_embedding(
    input_dim = n_tweets,
    output_dim = embedding_dim,
    name = "tweet_embeddings"
  )

user_bias <- input_users %>%
  layer_embedding(
    input_dim = n_users,
    output_dim = 1,
    name = "user_bias"
  ) 

tweet_bias <- input_users %>%
  layer_embedding(
    input_dim = n_tweets,
    output_dim = 1,
    name = "tweet_bias"
  )

In [16]:
dot <- layer_dot(list(user_embeddings, tweet_embeddings), axes = 2, 
                 name = "dot_product")

dot_bias <- layer_add(list(dot, user_bias, tweet_bias), name = "add_bias")

pred <- dot_bias %>% layer_dense(units = 1, activation = "relu", 
                                 name = "rating_prediction")

In [17]:
# define model inputs/outputs
model_bias <- keras_model(inputs = c(input_users, input_tweets), outputs = pred)

model_bias %>% compile(
  optimizer = "rmsprop",
  loss = "mse",
  metric = "mae"
)

# inspect model
summary(model_bias)

Model: "functional_3"
________________________________________________________________________________
Layer (type)              Output Shape      Param #  Connected to
================================================================================
users (InputLayer)        [(None, 1)]       0
________________________________________________________________________________
tweets (InputLayer)       [(None, 1)]       0
________________________________________________________________________________
user_embeddings (Embeddin (None, 1, 32)     3200     users[0][0]
________________________________________________________________________________
tweet_embeddings (Embeddi (None, 1, 32)     8064     tweets[0][0]
________________________________________________________________________________
dot_product (Dot)         (None, 1, 1)      0        user_embeddings[0][0]
                                                     tweet_embeddings[0][0]
________________________________________________________________________________
user_bias (Embedding)     (None, 1, 1)      100      users[0][0]
________________________________________________________________________________
tweet_bias (Embedding)    (None, 1, 1)      252      users[0][0]
________________________________________________________________________________
add_bias (Add)            (None, 1, 1)      0        dot_product[0][0]
                                                     user_bias[0][0]
                                                     tweet_bias[0][0]
________________________________________________________________________________
rating_prediction (Dense) (None, 1, 1)      2        add_bias[0][0]
================================================================================
Total params: 11,618
Trainable params: 11,618
Non-trainable params: 0
________________________________________________________________________________

In [19]:
# train the model
history_bias <- model_bias %>% fit(
  x = list(
    x_train[, "user_id", drop = FALSE],
    x_train[, "tweet_id", drop = FALSE]
  ),
  y = y_train,
  epochs = 30,
  batch_size = 16, 
  validation_split = 0.2,
  callbacks = list(callback_early_stopping(patience = 2))
)

In [20]:
best_epoch <- which(history_bias$metrics$val_loss == min(history_bias$metrics$val_loss))
loss <- history_bias$metrics$val_loss[best_epoch] %>% round(3)
mae <- history_bias$metrics$val_mae[best_epoch] %>% round(3)

glue("The best epoch had a loss of {loss} and mean absolute error of {mae}")

The best epoch had a loss of 1.034 and mean absolute error of 0.86

## Extract predicted user ratings

+ create function that will, for given user, extract rating predictions for un-rated tweets

In [21]:
# user_id = user_id - 1 so that it aligns to our zero-based user IDs
# table_full = table_long
# table_final = table_final
# model to use for predictions
predict_rating <- function(user_id, table_full, table_final, model){
    new_user_id <- user_id
    
    # get tweets rated by our user
    tweets_rated <- table_final %>%
      filter(user_id == new_user_id) %>% 
      pull(tweet_id)
    
    # get all available tweets
    all_tweets <- table_full %>% 
      distinct(tweet_id) %>%
      pull()
    
    # identify movies not watched
    tweets_not_rated <- setdiff(all_tweets, tweets_rated)
    
    tweet_options <- table_full %>%
      filter(tweet_id %in% tweets_not_rated) %>%
      distinct(tweet_id, tweet)
    
    customer_options <- expand.grid(
      user_id = new_user_id, 
      tweet_id = tweets_not_rated
      ) %>%
      as.matrix()
    
    inputs <- list(
      customer_options[, "user_id", drop = FALSE],
      customer_options[, "tweet_id", drop = FALSE]
      )

    pred <- model %>% predict(inputs)
    
    result <- customer_options %>%
      as_tibble() %>%
      mutate(predictions = as.vector(pred)) %>%
      left_join(tweet_options, by = "tweet_id") %>%
      arrange(desc(predictions))
    
    return(result)
}

+ iterate through all users and obtain table with rating predictions

In [23]:
# get all users
all_users <- unique(table_long$user_id)

# loop through users and get rating predictions
datalist = list()
for(i in all_users){
    test <- predict_rating(i, table_long, table_final, model)
    test$user <- unique(table_long[table_long$user_id == i,]$X1)
    datalist[[i+1]] <- test
}

In [24]:
# unlist predictions into one big table
prediction_data = do.call(rbind, datalist)
colnames(prediction_data) <- c("user_id","tweet_id", "rating","tweet", "X1")

In [25]:
head(prediction_data)
head(table_final)

  user_id tweet_id rating   tweet    X1
1 0        71      5.596436 tweet72  user1
2 0        70      5.497181 tweet71  user1
3 0       158      5.277966 tweet159 user1
4 0        51      5.172799 tweet52  user1
5 0       165      5.117799 tweet166 user1
6 0       116      5.059560 tweet117 user1

  X1     tweet  rating user_id tweet_id
1 user1  tweet1 4       0      0
2 user4  tweet1 4      34      0
3 user18 tweet1 3      10      0
4 user22 tweet1 4      15      0
5 user30 tweet1 5      24      0
6 user43 tweet1 5      38      0

+ merge original table (NAs removed) with predictions

In [28]:
full_table <- rbind(as.data.frame(prediction_data), as.data.frame(table_final))

In [29]:
# remove uneccessary columns
full_table <- full_table %>%
    select(-user_id, -tweet_id)

+ finally, transform table with all ratings to wide format
+ to make it comparable with the original table, rename and reorder columns

In [31]:
full_table <- reshape(full_table, idvar = "X1", timevar = "tweet", direction = "wide")
full_table <- full_table[ , sort(names(full_table))]

new_colnames <- sort(colnames(full_table))
new_colnames <- new_colnames[-length(new_colnames)]
new_colnames <- gsub(new_colnames, pattern = "rating.", replacement = "")
new_colnames <- c(new_colnames,"X1")
colnames(full_table) <- new_colnames

full_table <- full_table %>%
  select(X1, everything())

In [224]:
full_table[1:11,1:11]

     X1      tweet1   tweet10  tweet100 tweet101 tweet102 tweet103 tweet104
1    user1   4.000000 4.784421 4.094859 4.041635 4.158193 3.955321 5.000000
203  user10  3.927138 4.884878 4.000000 4.000000 4.117097 4.019458 4.864187
405  user100 4.194128 4.460747 3.755534 3.575279 4.012604 4.000000 4.321602
607  user11  3.788182 3.000000 3.633627 5.000000 5.000000 3.720819 3.313217
809  user12  3.950184 3.831481 4.094621 4.689071 5.000000 4.000000 4.553672
1011 user13  4.933807 3.718258 4.206202 3.739726 4.736152 4.068704 4.000000
1213 user14  4.252629 4.390988 3.995616 4.000935 4.000000 4.071962 4.000000
1415 user15  4.124944 4.291937 3.862411 3.997477 3.881432 3.957283 3.661427
1617 user16  3.947411 4.417140 3.860209 4.504666 3.958308 4.041463 4.000000
1819 user17  4.048896 5.000000 3.888320 4.000000 3.880012 3.826364 4.022699
2021 user18  3.000000 4.162923 3.748755 4.884817 3.939535 4.042459 3.710943
     tweet105 tweet106 tweet107
1    4.000000 3.921451 4.000000
203  4.000000 4.048069 4.474627
405  4.000000 3.955264 4.343966
607  3.685985 3.366470 4.305167
809  4.025224 3.651026 5.118770
1011 4.265720 3.380544 4.600814
1213 4.167927 4.285075 3.854084
1415 3.952420 4.000000 3.868459
1617 4.156893 4.569750 3.818799
1819 5.000000 3.982296 3.864097
2021 3.000000 4.593902 4.000000

In [225]:
table[1:21,1:11]

   X1     tweet1 tweet2 tweet3 tweet4 tweet5 tweet6 tweet7 tweet8 tweet9
1  user1   4     NA     NA     NA     NA     NA     NA     NA     NA
2  user2  NA     NA     NA      5     NA      5     NA     NA     NA
3  user3  NA      4     NA     NA     NA     NA      4     NA     NA
4  user4   4     NA     NA     NA     NA      4     NA      4     NA
5  user5  NA     NA      5     NA     NA     NA     NA     NA     NA
6  user6  NA     NA     NA     NA     NA     NA     NA      4     NA
7  user7  NA     NA     NA     NA     NA     NA     NA     NA     NA
8  user8  NA     NA     NA     NA      4     NA      4     NA     NA
9  user9  NA     NA      5     NA     NA     NA     NA     NA     NA
10 user10 NA     NA     NA      4     NA      4     NA     NA     NA
11 user11 NA     NA     NA     NA     NA     NA     NA     NA     NA
12 user12 NA     NA     NA     NA     NA     NA     NA     NA     NA
13 user13 NA     NA     NA     NA     NA     NA     NA     NA     NA
14 user14 NA     NA     NA     NA     NA     NA      4     NA     NA
15 user15 NA      4      4     NA     NA      4     NA     NA     NA
16 user16 NA     NA      5     NA     NA      4     NA     NA     NA
17 user17 NA     NA     NA     NA     NA     NA     NA     NA     NA
18 user18  3      4     NA     NA     NA      4      4     NA     NA
19 user19 NA      4     NA     NA     NA     NA      4      4     NA
20 user20 NA     NA      5     NA     NA      4     NA     NA     NA
21 user21 NA     NA     NA     NA     NA     NA     NA      4     NA
   tweet10
1  NA
2  NA
3  NA
4   4
5  NA
6  NA
7  NA
8  NA
9  NA
10 NA
11  3
12 NA
13 NA
14 NA
15 NA
16 NA
17  5
18 NA
19 NA
20 NA
21 NA